<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"></script>
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/stylesheets/form.css">

    <title>Main page</title>
  </head>
  <body></body>
    <header>
      <div>COLORADO MUSIC FESTIVAL</div>
      <p>You are logged in as:</p>
    </header>
    <div class = "navBar">NAVIGATION KEYS</div>
    <div id="mainContent">
      <!-- This container is a form/body that posts to an added route ... which directs to a confirmation page (conf.js) The submit button is at the bottom. Eventually, it ought to direct to a scheduling page based on log-in information-->
      <form id="usherInfo" method="post" action="/added">
        <fieldset>
        <legend>Information</legend>
            <!--THIS AREA IS FOR INFORMATION ABOUT THE GENERAL SITE-->
        <button type="button" id="siteMap">Get Site Map</button>
        <br>
        <br>
        <br>
        <br>
        </fieldset>
        <br>
        <fieldset>
          <legend>Schedule Information</legend>
            <!--THIS AREA IS FOR INFORMATION ABOUT THE COMING EVENTS-->
          <br>
          <br>
        <fieldset>
          <legend>SCHEDULING</legend>
            <!--THIS BUTTON TAKES YOU TO A COMPLETE LIST AND INCLUDES INFORMATION ABOUT THE USHER'S SCHEDULE-->
          <button type="button" id="fullSchedule">See Schedule</button>
          <br>
          <br>
        </fieldset>
        <fieldset>
          <legend>PREFERENCES PROFILE</legend>
            <!--THIS BUTTON TAKES YOU TO A SCREEN THAT ALLOWS YOU TO SET PREFERENCES FOR THE USHER POSITION-->
          <button type="button" id="optionsProfile">Set Profile Options</button>
          <br>
        </fieldset>
        <div class="submitCase">
            <!--THIS BUTTON TAKES YOU TO THE REGISTRATION SCREEN AND ALLOWS YOU TO CHANGE THE USHER DETAILS-->
          <button type="button" id="startPage">UPDATE CONTACT INFORMATION</button>
            <!--THIS BUTTON REMOVES THE USHER FLAG FROM TEMPORARY MEMORY AND REDIRECTS TO THE LOG-IN SCREEN-->
          <button type="button" id="exitUser">LOG-OUT</button>
        </div>
      </form>
    <footer>MORE SPACE FILLING TEXT</footer>
  </body>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script type="text/javascript" src="/javascripts/actions_front.js"></script>
</html>