<!DOCTYPE html>
<html>
<head lang="en">
<meta charset="UTF-8">
<link rel="stylesheet" href="/stylesheets/form.css">
<title>Input form</title>
</head>
<body>
<header>
<div>
COLORADO MUSIC FESTIVAL
</div>
</header>
<div class = "navBar">
NAVIGATION KEYS
</div>
<div id="mainContent">
<!-- This container is a form/body that posts to an added route ...
which directs to a confirmation page (conf.js) The submit button is at the bottom
Eventually, it ought to direct to a scheduling page based on log-in information-->
<form id="usherInfo" method="post" action="/added">

<fieldset>

<legend>Information</legend>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

</fieldset>

<br>
<br>

<fieldset>

<legend>Schedule Information</legend>

<br>
<br>
<br>
<br>
<br>
<br>

<fieldset>

<legend>PREFERENCES PROFILE</legend>

<button type="button" id="usherOptions">Set Profile Options</button>
<br>
<br>

</fieldset>
<fieldset>
<legend>SCHEDULING</legend>

<button type="button" id="usherOptions">Set Schedule</button>
<br>

</fieldset>

<div class="submitCase">
<button type="button" id="gotoForm">UPDATE CONTACT INFORMATION</button>
<button type="button" id="exitUser">LOG-OUT</button>
</div>

</form>

<footer>MORE SPACE FILLING TEXT</footer>

</body>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/actions.js"></script>

</html>