<!DOCTYPE html>
<html>
<head lang="en">
<meta charset="UTF-8">
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"></script>
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/stylesheets/siteMap.css">
<title>Input form</title>
</head>
<body>
<header>
<div>COLORADO MUSIC FESTIVAL</div>
</header>
<div class="container fluid">
<div class="row" id="topBox" style="padding-bottom:8px">
<div class="col-md-4">
</div>
<span class="col-md-6" id="topWords">LOG-IN SCREEN</span>
</div>
<br>
<div class="lower">
<div id="vert1">|</div>
<div id="vert2">|</div>
<span id="sideWays" class="glyphicon glyphicon-resize-full" aria-hidden="true" style="text-align:center"></span>
<div class="row bottomWords">
<span class="col-md-3 topRow">SITE MAP
<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
</span>
<span class="col-md-2 topRow">HOME PAGE</span>
<span class="col-md-2 topRow">SCHEDULE OF SHOWS</span>
<span class="col-md-2 topRow">USHER ORIENTATION</span>
</div>
<div>
<span id="bendWays" class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
<span id="crossWays" class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
<span id="down1" class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
</div>
<div class="row bottomWords">
<span class="col-md-3 secondRow noShow">mid2</span>
<span class="col-md-2 secondRow">CONTACT INFORMATION</span>
<span class="col-md-2 secondRow">SHOW SIGN-UP</span>
<span class="col-md-2 secondRow">USHER PREFERENCES</span>
</div>
<div>
<span id="down2" class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
<span id="down3" class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
</div>
<div class="row bottomWords">
<span class="col-md-3 thirdRow noShow">mid3</span>
<span class="col-md-2 thirdRow noShow">mid3</span>
<span class="col-md-2 thirdRow">YOUR SCHEDULE</span>
<span class="col-md-2 thirdRow">CONFIRMATION PAGE</span>
</div>
<div>
<span class="col-md-4 noShow">mid3</span>
<hr class="col-md-5 style="color:black">
<span id="down4" class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
</div>
<br>
<br>
<div class="row bottomWords">
<span class="col-md-3 bottom noShow">BOTTOM</span>
<span class="col-md-2 bottom noShow">BOTTOM</span>
<span class="col-md-2 bottom">BOTTOM</span>
<span class="col-md-2 bottom">BOTTOM</span>
</div>
</div>
</div>

</body>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/actions_front.js"></script>
</html>

//<table class="table table-bordered">
//<thead>
//<th id = "topBox"><span id=topWords>LOG-IN SCREEN</span></th>
//</thead>
//<tbody id = "lowerBoxes">
//<tr>
//<td>
//<span>MIDDLE1</span>
//</td>
//</tr>
//<tr>
//<td>
//<span>MIDDLE2</span>
//</td>
//</tr>
//<tr>
//<td>
//<span>BOTTOM</span>
//</td>
//</tr>
//</tbody>
//</table>