doctype 5
html
  head
    title= "ReViVyL Vinyl"
    link(rel='stylesheet', href='/stylesheets/HP_style.css')
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Orbitron:400,500', type='text/css')
    div #{title}
  body.container    
    
      
    block content

    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.0.0/handlebars.min.js')
    script(src='/javascripts/main.js')