
<!-- EXAMPLE OBJECT TO BE INCLUDED IN ARTIST HANDLEBARS
	{"artist":"ABBA", "location":"Stockholm", "member":[array]??} -->


<script id="hb-template" name="stinker" type="text/x-handlebars-template">

	<p>Here is a great album that you might not have heard before: {{name}} </p>
	<br>
	<p>It was created by {{artist}} under the guidance of {{producers}}</p>
  <br>
  <p>Boy, it was one of the highlights of {{releaseYear}}!

</script>


<!-- EXAMPLE OBJECT TO BE INCLUDED IN HANDLEBARS
	{name: "The Album", artist: "ABBA", mbid: "d87e52c5-bb8d-4da8-b941-9f4928627dc8", releaseYear: 1977, producers: "Benny Andersson and Bjorn Ulvaeus", engineers: "Michael B. Tretow", labels: "Atlantic"} -->

<script id="hb-template2" name="stanker" type="text/x-handlebars-template">


<p> BLANK </p>

  <div>
  <p>name: {{name}}</p>
  <p>artist: {{artist}}</p>
  <p>year: {{releaseYear}}</p>
  <p>producer: {{producers}}</p>
  <p>engineer: {{engineers}}</p>
  <p>label: {{lables}}</p>
  </div>

</script>


<!-- EXAMPLE OBJECT TO BE INCLUDED IN HANDLEBARS
	{"artist":"ABBA", "location":"Stockholm", "member":[array]??} -->